<!DOCTYPE html>
<html lang="en">

<head>
    <script src="js/utils.js"></script>
    <script>
        const token = window.localStorage.getItem('token')
        if (!token) window.location = '/login'
    </script>
    <script>
        let is = window.localStorage.getItem("is")
        console.log(is);
        if (is == false || is == "false") {
            window.location = "/"
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <h5 class="display-4 text-center">Adding category</h5>
        </div>
        <div class="modal-header">
            <span id="errorMessage"></span>
        </div>
        <form id="book-form" class="mb-4">
            <div class="form-group mb-2">
                <label for="title">Category Name</label>
                <input type="text" id="title" class="form-control">
            </div>

            <input id="addCategory" value="Category add" class="btn btn-primary btn-book">

            <h5>Other pages for admin</h5>

            <button id="addBoook" value="Home" class="btn btn-primary btn-book">
                Add Book
                <script>
                    addBoook.onclick = async event => {
                        event.preventDefault()
                        setTimeout(() => {
                            window.location = "/admin"
                        }, 1000)
                    }
                </script>
            </button>

            <button id="home" value="Home" class="btn btn-primary btn-book">
                Home
                <script>
                    home.onclick = async event => {
                        event.preventDefault()
                        setTimeout(() => {
                            window.location = "/"
                        }, 1000)
                    }
                </script>
            </button>



        </form>
        <!-- <div class="btn-group mb-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Hammasi</button>
            <button type="button" class="btn btn-primary">Badiiy</button>
            <button type="button" class="btn btn-primary">Biznes</button>
            <button type="button" class="btn btn-primary">Diniy</button>
        </div> -->
        <div class="block w-50">
            <ul class="list-group">
                <!-- <li class="list-group-item">Ikki eshik orasi <span class="float-end badge bg-info">Badiiy</span></li>
        <li class="list-group-item">Ikki eshik orasi <span class="float-end badge bg-info">Badiiy</span></li>
        <li class="list-group-item">Ikki eshik orasi <span class="float-end badge bg-info">Badiiy</span></li>
        <li class="list-group-item">Ikki eshik orasi <span class="float-end badge bg-info">Badiiy</span></li> -->
            </ul>
        </div>
    </div>


    <script src="js/main.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/category.js"></script>
</body>

</html>