// CONTAINER 
$container-width: 1240px;
$padding: 20px;
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;

// COLORS
$color-primary: #b00000;
$bg-color-primary: #fff;

// FONTS
$font-body:'sans', sans-serif;
$font-inter:'inter', sans-serif;